---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/2c9bbced7e19e5b7/conditions/q/01904.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.151'
      Last-Modified:
      - Sun, 14 Jul 2013 23:20:03 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n\t\"response\": {\n\t\t\"version\": \"0.1\"\n\t\t,\"termsofService\":
        \"http://www.wunderground.com/weather/api/d/terms.html\"\n\t\t,\"features\":
        {\n\t\t\"conditions\": 1\n\t\t}\n\t}\n\t\t,\t\"current_observation\": {\n\t\t\"image\":
        {\n\t\t\"url\":\"http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Lynn, MA\",\n\t\t\"city\":\"Lynn\",\n\t\t\"state\":\"MA\",\n\t\t\"state_name\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"01904\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"42.48799896\",\n\t\t\"longitude\":\"-70.96340179\",\n\t\t\"elevation\":\"19.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Buchanan Circle, Lynn, Massachusetts\",\n\t\t\"city\":\"Buchanan
        Circle, Lynn\",\n\t\t\"state\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"42.488644\",\n\t\t\"longitude\":\"-70.935829\",\n\t\t\"elevation\":\"108
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KMALYNN6\",\n\t\t\"observation_time\":\"Last
        Updated on July 14, 7:15 PM EDT\",\n\t\t\"observation_time_rfc822\":\"Sun,
        14 Jul 2013 19:15:10 -0400\",\n\t\t\"observation_epoch\":\"1373843710\",\n\t\t\"local_time_rfc822\":\"Sun,
        14 Jul 2013 19:20:03 -0400\",\n\t\t\"local_epoch\":\"1373844003\",\n\t\t\"local_tz_short\":\"EDT\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0400\",\n\t\t\"weather\":\"Mostly
        Cloudy\",\n\t\t\"temperature_string\":\"80.1 F (26.7 C)\",\n\t\t\"temp_f\":80.1,\n\t\t\"temp_c\":26.7,\n\t\t\"relative_humidity\":\"81%\",\n\t\t\"wind_string\":\"From
        the East at 2.0 MPH Gusting to 2.0 MPH\",\n\t\t\"wind_dir\":\"East\",\n\t\t\"wind_degrees\":92,\n\t\t\"wind_mph\":2.0,\n\t\t\"wind_gust_mph\":\"2.0\",\n\t\t\"wind_kph\":3.2,\n\t\t\"wind_gust_kph\":\"3.2\",\n\t\t\"pressure_mb\":\"1022\",\n\t\t\"pressure_in\":\"30.19\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"74
        F (23 C)\",\n\t\t\"dewpoint_f\":74,\n\t\t\"dewpoint_c\":23,\n\t\t\"heat_index_string\":\"85
        F (29 C)\",\n\t\t\"heat_index_f\":85,\n\t\t\"heat_index_c\":29,\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"85
        F (26.7 C)\",\n\t\t\"feelslike_f\":\"85\",\n\t\t\"feelslike_c\":\"26.7\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"26\",\n\t\t\"UV\":\"0.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"mostlycloudy\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/mostlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/MA/Lynn.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMALYNN6\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=42.488644,-70.935829\"\n\t}\n}\n"
  recorded_at: Sun, 14 Jul 2013 23:20:05 GMT
[...]
