.do-button {
	color: black;
	background-color: #7B68EE;
	border-radius: .7em;
	font-weight: bold;
}

.weather-info {
	text-align: center;
	color: #FEF1E9;
}


html {
	background: url('../weather.jpg');
	background-size: 100%;
}
